.tier-metadata input,
.tier-metadata textarea {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  font-size: 1em;
}
.tier-title-input{
    font-weight: bold;
  font-size: 2em;
}
.bottom-buttons{
  display: flex;
  justify-content: space-around;
}
/* only snapshot wrapper needs this */
.tierlist-snapshot-area.locked-snapshot {
  /* make it shrink‑to‑fit its contents */
  display: inline-block;
  padding: 0;
  margin: 0;
}

/* hide any delete buttons when we have that class */
.tierlist-snapshot-area.locked-snapshot .delete-tier-button {
  display: none !important;
}